.App {
  cursor: url(./assets/baseline_restaurant_menu_black_24dp_green.png) 12 12, auto;
  width: 100%;
  min-height: 100vh;
}

a:hover,
button:hover,
.controls:hover {
  cursor: url(./assets/baseline_restaurant_menu_black_24dp.png) 12 12, auto;
}



::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #827717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4a647;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}