body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app-wrapper {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header a {
  font-weight: bold;	  font-weight: bold;
  text-decoration: none;	  text-decoration: none;
}	 */

main {
  flex:1;
  /* padding: 1rem; */

}

/* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 */



/* .product {

  border: 1px #404040 solid;
  margin: 1rem;

} */
/* 
.product img {

  width: 100%;

  max-width: 400px;

} */

/* .product-info {

  padding: 1rem;

} */

.rating { display:flex; align-items:center; 
  color:#FAAF00
}

/* /* figure {
  max-width: 50vw;
} */
img {width:100%} 

.img-thumbnail {
  height:80px
}